<header class="container mx-auto p-4">
  <h1 class="text-3xl">Welcome, username</h1>
</header>
<main class="container mx-auto p-4">
  <h4 class="text-xl">Your pokemon collection:</h4>
  <app-pokemon-list></app-pokemon-list>
</main>

<!-- After pokemon-list.ts is updated and the pokemon property is available to the app-pokemon-list, this can be done
<main class="container mx-auto p-4">
    <h4 class="text-xl">Your pokemon collection:</h4>
    <app-pokemon-list [pokemon]="pokemon"></app-pokemon-list>
</main> -->
